.title {
  font-family: 'Akrobat';
  color: #242424;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 10rem;
}
stop {
	transition: 0.4s ease;
}
.btn {
	position: relative;
	display: flex;
	width: 16.6rem;
	height: 16.6rem;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;

	&--text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
  svg {
    width: 100%;
    height: 100%;
    path {
      -webkit-transition: fill 0.4s ease;
      -moz-transition: fill 0.4s ease;
      -o-transition: fill 0.4s ease;
    }
  }
  &:hover {
    path {
      //   fill: #fccb17;
      transition: fill 0.4s ease-in-out;
    }
    stop {
      stop-color: #fccb17;
    }
  }
}

.long-btn {
	color: #e84b0f;
	font-family: "Gilroy";
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2.4rem; /* 133.333% */

	transition:
		background 0.2s ease-out,
		color 0.2s ease-out;

	padding: 1.4rem 2.4rem;
	border-radius: 10rem;
	border: 0.1rem solid #fe921f;

	display: flex;
	align-items: center;
	gap: 2.4rem;

	span {
		display: block;
		position: relative;
		width: 2.4rem;
		height: 2.4rem;
		transform: rotate(45deg);

		&::after {
			content: "";
			width: 1rem;
			height: 1rem;
			background-color: #e84b0f;

			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;

			transition: background 0.2s ease-out;
			transform: translate(-50%, -50%);
		}
	}

	&:hover,
	&:focus-visible {
		transition:
			background 0.2s ease-out,
			color 0.2s ease-out;
		background-color: #e84b0f;
		color: #fff;

		span::after {
			background-color: #fff;
			transition: background 0.2s ease-out;
		}
	}

  &:disabled {
    cursor: default;
    background-color: #e6e6e6;
    color: #bebebe;
    border: 0.1rem solid #bebebe;

    span::after {
      background-color: #bebebe;
    }
  }
}

.content {
	width: 120.6rem;
	&_container {
		display: flex;
		justify-content: space-between;
	}
}
.description {
	color: #9d9d9d;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: normal;
}
.section_name {
	margin-top: 3.6rem;
	flex: 1;
	color: #e7284a;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.subtitle {
	color: #242424;
	font-family: "Akrobat";
	font-size: 3.4rem;
	font-weight: 700;
	line-height: normal;
}
.description {
	color: #9d9d9d;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: normal;
}
.form {
  // .form__title
  &__title {
    color: #242424;
    font-family: 'Gilroy';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 133.333% */
    margin-bottom: 5rem;
  }
  // .form__content
  &__content {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__personal-data {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 3rem;
    // .form-item__label
    &__label {
      width: 38.2rem;
    }

    &--width--100 {
      .form-item__label {
        width: 100%;
      }
    }
  }
}

.label-input {
  cursor: pointer;
  // .form-label__placeholder
  &__placeholder {
    margin-bottom: 0.8rem;

    color: #9d9d9d;
    font-size: 1.8rem;
    font-style: normal;
    line-height: normal;
  }
}

.input {
  width: 100%;
  color: #242424;
  font-size: 1.8rem;
  font-style: normal;
  line-height: normal;

  border: 0.1rem solid #9d9d9d;
  padding: 1.4rem 2rem;

  &:focus-visible {
    border: 0.1rem solid #242424;
  }

  &::placeholder {
    color: #9d9d9d;
  }
}
.textarea {
  width: 100%;
  resize: none;
  height: 5rem;
  color: #242424;
  font-size: 1.8rem;
  font-style: normal;
  line-height: normal;

  border: 0.1rem solid #9d9d9d;
  padding: 1.4rem 2rem 0 2rem;

  &:focus-visible {
    border: 0.1rem solid #242424;
  }

  &::placeholder {
    color: #9d9d9d;
  }
}

.label-text {
  color: #1a1a1a;
  font-size: 1.8rem;
  line-height: normal;
}

.personal-data {
  // .personal-data__text
  &__text {
    a {
      text-decoration: underline;
      color: #fe921f;
    }
  }
}

.label-checkbox {
  input {
    appearance: none;
    position: absolute;

    &:checked + .custom-checkbox {
      background: url(../assets/images/checkbox-arrow.svg) center / 1.5rem no-repeat;
    }
  }
}

.custom-checkbox {
  width: 3rem;
  height: 3rem;
  display: block;
  cursor: pointer;

  border: 0.1rem solid #fe921f;
}

main {
	padding-top: 13.3rem;
	overflow: hidden;
}

body {
	&.lock {
		touch-action: none;
		overflow: hidden;
	}
}

@media (max-width: 48em) {
  .title {
    margin-bottom: 6.4rem;
    color: #242424;
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 1;
  }
  .btn {
    width: 24.4rem;
    height: 24.4rem;
    font-size: 2.8rem;
  }
  .long-btn {
    font-size: 3.2rem;
    line-height: normal; /* 133.333% */

    padding: 2rem 4.8rem;
    border-radius: 10rem;
    border: 0.2rem solid #fe921f;

    gap: 4.8rem;

    span {
      width: 4.8rem;
      height: 4.8rem;

      &::after {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .subtitle {
    font-size: 4.8rem;
  }
  .description {
    font-size: 3.2rem;
  }
  .content {
    width: 100%;
  }
  .section_name {
    margin-top: 0;
    flex: 1;
    font-size: 2.8rem;
  }
  .block_name{
	  margin-bottom: 2.4rem;
  }
  .form {
    &__title {
      font-size: 3.2rem;
      margin-bottom: 4rem;
      line-height: normal;
    }
    // .form__content
    &__content {
      margin-bottom: 6.4rem;
      gap: 2.4rem;
    }

    &__personal-data {
      gap: 2rem;
    }

    &-item {
      align-items: flex-start;
      flex-direction: column;
      gap: 2.4rem;
      // .form-item__label
      &__label {
        width: 100%;
      }
    }
  }

  .label-input {
    // .form-label__placeholder
    &__placeholder {
      margin-bottom: 0.8rem;
      font-size: 3.2rem;
    }
  }

  .input {
    font-size: 3.2rem;

    border: 0.2rem solid #9d9d9d;
    padding: 2.4rem 4rem;

    &:focus-visible {
      border: 0.2rem solid #242424;
    }
  }

  .textarea {
    height: 22.6rem;
    font-size: 3.2rem;

    border: 0.2rem solid #9d9d9d;
    padding: 2.4rem 4rem;

    &:focus-visible {
      border: 0.2rem solid #242424;
    }
  }

  .label-text {
    font-size: 3.2rem;
  }

  .personal-data {
    // .personal-data__text
    &__text {
      a {
        display: flex;
      }
    }
  }

  .label-checkbox {
    input {
      &:checked + .custom-checkbox {
        background: url(../assets/images/checkbox-arrow.svg) center / 3rem no-repeat;
      }
    }
  }

  .custom-checkbox {
    width: 6rem;
    height: 6rem;

		border: 0.2rem solid #fe921f;
	}
}
