@keyframes animScroll1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  45% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.6);
  }
  75% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animScroll2 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  //   25% {
  //     transform: scale(1.2);
  //   }
  35% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.5);
  }
  //   85%{
  //     transform: scale(1.4);
  //   }
  80% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appearSlide1 {
  0% {
    opacity: 0;
    transition-property: opacity;
  }
  100% {
    opacity: 1;
    transition-property: opacity;
  }
}
@keyframes appearSlide2 {
  0% {
    opacity: 0;
    transition-property: opacity;
  }
  100% {
    opacity: 1;
    transition-property: opacity;
  }
}
@keyframes appearSlide3 {
  0% {
    opacity: 0;
    transition-property: opacity;
  }
  100% {
    opacity: 1;
    transition-property: opacity;
  }
}
@keyframes hoverCard {
  0% {
    transform: rotate(20.921deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20.921deg);
  }
}
.banner {
  position: relative;
  margin-top: 4.6rem;
  &_container {
    position: relative;
    display: flex;
  }
  &__scroll {
    position: absolute;
    top: 43.4rem;
    left: 2.5rem;
    width: 12rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 2;
    &-text {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-anim_1 {
      position: absolute;
      width: 100%;
      height: 100%;
      //   width: 17rem;
      //   height: 17rem;
      transform: scale(1);
      transform-origin: center;
      //   transition: 1000ms transform ease;
      animation: animScroll1 5s cubic-bezier(0, 0.42, 0.8, 1) infinite;
    }
    img {
      width: 100%;
      height: 100%;
    }
    &-anim_2 {
      position: absolute;
      //   width: 23.2rem;
      //   height: 23.2rem;
      width: 100%;
      height: 100%;
      transform: scale(1);
      transform-origin: center;
      animation: animScroll2 5s cubic-bezier(0, 0.42, 0.8, 1) infinite;

      //   transition: 1000ms transform ease;
      //   transition-delay: 100ms;
    }
  }
  &__title {
    position: relative;
    margin-right: 7.5rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;
    &-img {
      position: absolute;
      top: 9.6rem;
      left: -15rem;
    }
  }
  &__slider {
    margin-top: -5rem;
    padding-left: 8rem;
    padding: 7rem 8rem;
    // width: 67.9rem;
    // height: 95.2rem;
    width: 67.9rem;
    height: 89.2rem;
    overflow: hidden;
    &-wrapper {
      position: relative;
    }
    &-item {
      height: 75.2rem;
    }
  }
  &__main {
    position: relative;
    display: flex;
    z-index: 2;
    &-photo {
      position: relative;
      width: 51.9rem;
      height: 75.2rem;
      &:hover {
        .banner__main-img img {
          transform: scale(1.2);
        }
        .banner__main-img--back {
          transform: rotate(0deg);
          img {
            transform: scale(1);
          }
        }
      }
    }
    &-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        height: 100%;
      }
    }
    &-img {
      position: relative;
      width: 51.9rem;
      height: 75.2rem;
      clip-path: polygon(0 0, 74.9% 0, 100% 19%, 100% 100%, 25% 100%, 0 85%);
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.4s ease-in-out;
      }

      &--back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // clip-path: url('#clip_banner');
        transform: rotate(20.921deg);
        transition: transform 0.4s ease-in-out;
        z-index: 2;
        &.anim {
          animation: hoverCard 0.6s ease-in-out;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &-thumb {
      margin-left: 8rem;
      align-self: end;
      width: 22.2rem;
      height: 25.4rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-btn {
      position: absolute;
      top: 17.1rem;
      left: 60rem;
      z-index: 2;
      &--text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-text {
      z-index: 12;
      &--title {
        display: flex;
        gap: 2rem;
        position: absolute;
        top: 59.2%;
        left: 15rem;
        transform: translate(0, -50%);
        font-family: 'Akrobat';
        font-size: 15rem;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 2px #242424;
        text-stroke: 2px #242424;

        b {
          color: #242424;
          -webkit-text-stroke: 0;
          text-stroke: 0;
        }
      }
      &--subtitle {
        position: absolute;
        top: 68%;
        right: 27.7rem;
        transform: translate(0, -50%);
        font-size: 1.6rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
  &__thumbs {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    &-img {
      position: relative;
      display: none;
      width: 22.2rem;
      height: 25.4rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.next_1 {
        display: block;
        position: absolute;
        display: block;
        width: 21.2rem;
        height: 22.8rem;
        top: 23.8rem;
        right: 0rem;
        animation: appearSlide2 1s cubic-bezier(0.39, 0.575, 0.565, 1);
      }
      &.next_2 {
        display: block;
        position: absolute;
        display: block;
        width: 22.2rem;
        height: 25.4rem;
        top: 51.8rem;
        right: 50rem;
        animation: appearSlide1 1s cubic-bezier(0.39, 0.575, 0.565, 1);
      }
      &.last {
        display: block;
        position: absolute;
        top: 10rem;
        left: 0;
        position: absolute;
        display: block;
        width: 22.2rem;
        height: 25.4rem;
        animation: appearSlide3 1s cubic-bezier(0.39, 0.575, 0.565, 1);
      }
      &.swiper-slide-active {
      }
      &.swiper-slide-next {
      }
      &.swiper-slide-last {
        display: block;
        width: 21.2rem;
        height: 22.7rem;
      }
    }
  }
  &__aside {
    margin-left: auto;
    &-img {
      top: 30.6rem;
      position: absolute;
      right: -15rem;
      width: 21.2rem;
      height: 22.8rem;
    }
  }
  &__links {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    &-item {
      padding: 0.8rem 0;
      border-bottom: 1px solid rgba(36, 36, 36, 0.4);
      color: var(--Black, #242424);
      font-size: 1.6rem;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
@keyframes aboutAnim1 {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}
@keyframes aboutAnim2 {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
@keyframes aboutAnim3 {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-540deg);
  }
}
@keyframes aboutAnim4 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@keyframes aboutAnim5 {
  0% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(490deg);
  }
}
.about {
  position: relative;
  &__blocks {
    position: absolute;
    top: 20rem;
    left: -80rem;
    &-item {
      position: absolute;
      width: 95rem;
      height: 95rem;
      border: 1px solid #c7c7c7;
      &:nth-child(1) {
        animation: aboutAnim1 8s linear infinite;
        animation-duration: -1000;
      }
      &:nth-child(2) {
        animation: aboutAnim2 9s linear infinite;
        animation-duration: -500;
      }
      &:nth-child(3) {
        animation: aboutAnim3 9s cubic-bezier(0.77, 0.91, 0.71, 0.37) infinite;
      }
      &:nth-child(4) {
        animation: aboutAnim4 7s linear infinite;
        animation-duration: -1000;
      }
    }
  }
  &__content {
    display: flex;
    gap: 8rem;
  }
  &__list {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: space-between;
    &-mark {
      position: absolute;
      top: -7.6rem;
      left: -8rem;
      width: 16.6rem;
      height: 16.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &--text {
        position: absolute;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
  &__info {
    width: 60.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-text {
      display: flex;
      gap: 2.4rem;
      flex-direction: column;
      overflow: hidden;
      &--description {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 24.5rem;
    &-img {
      width: 100%;
      height: 32.6rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &--title {
        color: #242424;
        font-family: 'Akrobat';
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      &--subtitle {
        color: #e7284a;
        font-family: 'Gilroy';
        font-size: 1.8rem;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
.advantages {
  &_container {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    &-mob {
      display: none;
    }
    &-row {
      display: flex;
      .advantages__main {
        margin-right: 16.8rem;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    &-mob {
      display: none;
    }
  }
  &__short {
    width: 41.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-number {
      color: #242424;
      font-size: 5rem;
      font-weight: 400;
      line-height: normal;
    }
    &-text {
      color: #9d9d9d;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: normal;
    }
  }
  &__main {
    width: 24.4rem;

    &-icon {
      display: flex;
      width: 4rem;
      height: 4rem;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &-name {
      font-family: 'Akrobat';
      font-size: 2rem;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    &-description {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: normal;
    }
  }
}

@keyframes newsBlock1 {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(5rem);
  }
  50% {
    transform: translateY(15rem);
  }
  75% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes newsBlock2 {
  0% {
    transform: translateY(-0rem);
  }
  25% {
    transform: translateY(-5rem);
  }
  50% {
    transform: translateY(-15rem);
  }
  75% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.news {
  position: relative;
  &__blocks {
    position: absolute;
    top: 0;
    width: 58.3rem;
    height: 58.3rem;
    right: -41rem;
    z-index: -1;
    &-item {
      position: absolute;
      width: 50rem;
      height: 50rem;
      border: 1px solid #9d9d9d;
      &:nth-child(1) {
        top: 0;
        right: 0;
        transform: translateX(0);
        animation: newsBlock1 6s cubic-bezier(0.23, 1, 0.72, 0.8) infinite;
      }
      &:nth-child(2) {
        top: 15rem;
        right: 10rem;
        animation: newsBlock2 6s cubic-bezier(0.23, 1, 0.72, 0.8) infinite;
      }
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    &-title {
      width: 120.7rem;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;

    &-btn {
      margin-top: 8.6rem;
    }
    &-item {
      width: 38.2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &:nth-child(1) {
        .news__list-img {
          height: 28.5rem;
        }
      }
      &:nth-child(2) {
        .news__list-img {
          height: 57.3rem;
        }
      }
      &:nth-child(3) {
        .news__list-img {
          height: 28.5rem;
        }
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &--date {
        color: #e7284a;
        font-family: 'Akrobat';
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}
@keyframes blockMove1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10rem, 10rem);
  }
  50% {
    transform: translate(0rem, 0rem);
  }
  75% {
    transform: translate(10rem, 10rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes blockMove2 {
  0% {
    transform: translate(10rem, 10rem);
  }
  25% {
    transform: translate(6rem, 6rem);
  }
  50% {
    transform: translate(20rem, 20rem);
  }
  75% {
    transform: translate(17rem, 25rem);
  }
  100% {
    transform: translate(10rem, 10rem);
  }
}
@keyframes blockMove3 {
  0% {
    transform: translate(20rem, 20rem);
  }
  25% {
    transform: translate(15rem, 13rem);
  }
  50% {
    transform: translate(10rem, 10rem);
  }
  75% {
    transform: translate(15rem, 15rem);
  }
  100% {
    transform: translate(20rem, 20rem);
  }
}
.services {
  position: relative;
  &__blocks {
    position: absolute;
    top: 48rem;
    left: -30rem;
    width: 82.9rem;
    height: 97.8rem;
    z-index: -1;
    &-item {
      position: absolute;
      width: 50rem;
      height: 69.4rem;
      border: 1px solid #c7c7c7;
      &:nth-child(1) {
        // transform: translate(10rem, 10rem);
        animation: blockMove1 55s cubic-bezier(0.35, 0.54, 0.95, 0.73) infinite;
      }
      &:nth-child(2) {
        // transform: translate(20rem, 20rem);
        animation: blockMove2 55s cubic-bezier(0.35, 0.54, 0.95, 0.73) infinite;
      }
      &:nth-child(3) {
        // transform: translate(30rem, 30rem);
        // cubic-bezier(0.165, 0.84, 0.44, 1)
        animation: blockMove3 55s cubic-bezier(0.35, 0.54, 0.95, 0.73) infinite;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    &-row {
      display: flex;
      justify-content: space-between;
      &--bottom {
        display: flex;
        gap: 3rem;
      }
    }

    &-btn {
      margin-bottom: 7rem;
    }
    &-column {
      width: 100%;
      &--description {
        width: 38.3rem;
      }
    }
    &-item {
      width: 38.3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &--column {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
    &-img {
      width: 38.3rem;
      height: 52.8rem;
      &--border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-10deg);
        transition: transform 0.3s ease-in-out;
        z-index: 3;
        img {
          height: 100%;
        }
      }
      img {
        object-fit: cover;
        height: 100%;
      }
      &--column {
        position: relative;
        width: 79.5rem;
        height: 43.9rem;
        transition: transform 0.3s ease-in-out;
        &--back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          img {
            object-fit: cover;
            height: 100%;
          }
        }
        &--inner {
          width: 79.5rem;
          height: 43.9rem;
          clip-path: polygon(19% 0%, 100% 0, 100% 70%, 81% 100%, 0 100%, 0 30%);
          overflow: hidden;
          z-index: 1;
          img {
            object-fit: cover;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
          }
        }
        &:hover {
          .services__list-img--column--inner img {
            transform: scale(1.2);
          }
          .services__list-img--border {
            transform: rotate(0deg);
          }
        }
        img {
        }
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  &__content {
    &-bottom {
      padding-top: 16.6rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
@media (max-width: 48em) {
  .banner {
    &_container {
      flex-direction: column;
    }
    &__title {
      display: none;
    }

    &__scroll {
      display: none;
    }
    &__slider {
      width: 100%;
      height: 80rem;
      padding: 6.5rem 11rem;

      &-item {
        width: 46rem;
        height: 67rem;
      }
    }
    &__main {
      margin-top: 4rem;
      &-btn {
        top: 32.1rem;
        left: 50rem;
      }
      &-text {
        &--title {
          top: 62.2%;
          left: 3.2rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          font-size: 11.6rem;
          z-index: 12;
          line-height: 1;
          width: calc(100% - 7.2rem);
          -webkit-text-stroke: 1px #242424;
          b {
            align-self: flex-start;
            color: #242424;
            font-weight: 800;
            text-transform: uppercase;
          }
        }
        &--subtitle {
          top: auto;
          right: 4rem;
          bottom: 27rem;
          color: #242424;
          font-size: 2.8rem;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
      &-img {
        width: 100%;
        height: 100%;
      }
      &-photo {
        width: 100%;
        height: 100%;
        &:hover {
          .banner__main-img img {
            transform: scale(1);
          }
          .banner__main-img--back {
            transform: rotate(20.921deg);
            img {
              transform: scale(1);
            }
          }
        }
      }
    }
    &__thumbs {
      position: relative;
      flex: 1;
      &-img {
        display: none;
        width: 24rem;
        height: 24rem;
        &.next_1 {
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          width: 24rem;
          height: 24rem;
        }
        &.next_2 {
          display: none;
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          width: 24rem;
          height: 24rem;
        }
        &.last {
          display: none;
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          width: 24rem;
          height: 24rem;
        }
      }
    }
    &__aside {
      margin: 0;
      margin-top: 16rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
    }
    &__links {
      margin-top: 0;
      width: 39rem;
      row-gap: 0rem;
      &-item {
        padding: 1.6rem 0;
        color: #242424;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
  .about {
    &__blocks {
      top: 7rem;
      left: auto;
      right: 45rem;
      z-index: -1;
      &-item {
        width: 71rem;
        height: 71rem;
        border-color: #c7c7c7;
      }
    }
    &__content {
      flex-direction: column;
      gap: 5.6rem;
    }
    &__card {
      width: 33.2rem;
      &-img {
        height: 48.6rem;
      }
      &-text {
        &--title {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
        &--subtitle {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    &__list {
      &-mark {
        top: 36.4rem;
        left: -8rem;
        width: 20rem;
        height: 20rem;
        left: auto;
        right: 1rem;
        &--text {
          font-size: 2.8rem;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
    &__info {
      width: 100%;
      gap: 7.2rem;
      &-text {
        gap: 3.2rem;
        &--description {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
  .advantages {
    &_container {
      flex-direction: column;
    }
    &__list {
      display: none;
      &-mob {
        display: flex;
        flex-direction: column;
        gap: 5rem;
      }
      &-info {
        display: flex;
        justify-content: space-between;
      }
      &-row {
        width: 33rem;
        display: flex;
        flex-direction: column;
        .advantages__main {
          margin-right: 0;
        }
      }
    }
    &__main {
      width: 33rem;
      &-name {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      &-description {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: normal;
        text-transform: none;
      }
      &-icon {
        width: 8rem;
        height: 8rem;
      }
    }
    &__info {
      &-mob {
        margin-top: 5.8rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    }
    &__short {
      width: auto;
      gap: 2.4rem;
      flex: 1;
      &-number {
        font-size: 5.6rem;
        font-weight: 400;
        line-height: normal;
      }
      &-text {
        font-size: 3.2rem;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .news {
    &__blocks {
      height: 110.8rem;
      width: 75.3rem;
      right: -16rem;
      top: auto;
      bottom: -84rem;
      &-item {
        height: 95rem;
        border-color: #c7c7c7;
      }
    }
    &__text {
      flex-direction: column;
      &-title {
        width: 100%;
      }
    }
    &__list {
      &-item {
        width: 44.8rem;
        .news__list-img {
          &:nth-child(1) {
            height: auto;
          }
          &:nth-child(2) {
            height: auto;
          }
          &:nth-child(3) {
            height: auto;
          }
        }
      }
      &-img {
        width: 100%;
      }
    }
  }
  .services {
    &__blocks {
      top: auto;
      bottom: 0;
      right: -81rem;
      left: auto;
      &-item {
        &:nth-child(1) {
          transform: translate(-30rem, 30rem);
          animation: none;
        }
        &:nth-child(2) {
          animation: none;
          transform: translate(-15rem, 11rem);
        }
        &:nth-child(3) {
          animation: none;
          transform: translate(0rem, 0rem);
        }
      }
    }
    &__content {
      &-bottom {
        padding-top: 5.6rem;
        flex-direction: column;
      }
    }
    &__list {
      gap: 11.6rem;
      &-row {
        flex-direction: column;
        gap: 5.6rem;
        &--bottom {
          width: 100%;
          flex-direction: column;
          gap: 5.6rem;
        }
      }
      &-item {
        width: 100%;
        gap: 1.6rem;
        &--column {
          gap: 7.4rem;
          flex-direction: column-reverse;
        }
      }
      &-column {
        &--description {
          width: 100%;
        }
      }
      &-img {
        width: 100%;
        &--column {
          width: 100%;
          height: 38.2rem;
          &--inner {
            width: 100%;
            height: 100%;
            img {
              height: 100%;
              object-fit: none;
            }
          }
        }
      }
      &-text {
        gap: 0.4rem;
      }
    }
  }
}

@keyframes newsBlock1 {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(5rem);
  }
  50% {
    transform: translateY(15rem);
  }
  75% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes newsBlock2 {
  0% {
    transform: translateY(-0rem);
  }
  25% {
    transform: translateY(-5rem);
  }
  50% {
    transform: translateY(-15rem);
  }
  75% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.news {
  position: relative;
  &__blocks {
    position: absolute;
    top: 0;
    width: 58.3rem;
    height: 58.3rem;
    right: -41rem;
    z-index: -1;
    &-item {
      position: absolute;
      width: 50rem;
      height: 50rem;
      border: 1px solid #9d9d9d;
      &:nth-child(1) {
        top: 0;
        right: 0;
        transform: translateX(0);
        animation: newsBlock1 6s cubic-bezier(0.23, 1, 0.72, 0.8) infinite;
      }
      &:nth-child(2) {
        top: 15rem;
        right: 10rem;
        animation: newsBlock2 6s cubic-bezier(0.23, 1, 0.72, 0.8) infinite;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    &-title {
      width: 120.7rem;
      overflow: hidden;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;

    &-btn {
      margin-top: 8.6rem;
      &--mob {
        display: none;
      }
    }
    &-item {
      width: 38.2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &:nth-child(1) {
        .news__list-img {
          height: 28.5rem;
        }
      }
      &:nth-child(2) {
        .news__list-img {
          height: 57.3rem;
        }
      }
      &:nth-child(3) {
        .news__list-img {
          height: 28.5rem;
        }
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &--name {
      }
    }
  }
}
@keyframes blockMove1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10rem, 10rem);
  }
  50% {
    transform: translate(0rem, 0rem);
  }
  75% {
    transform: translate(10rem, 10rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes blockMove2 {
  0% {
    transform: translate(10rem, 10rem);
  }
  25% {
    transform: translate(6rem, 6rem);
  }
  50% {
    transform: translate(20rem, 20rem);
  }
  75% {
    transform: translate(17rem, 25rem);
  }
  100% {
    transform: translate(10rem, 10rem);
  }
}
@keyframes blockMove3 {
  0% {
    transform: translate(20rem, 20rem);
  }
  25% {
    transform: translate(15rem, 13rem);
  }
  50% {
    transform: translate(10rem, 10rem);
  }
  75% {
    transform: translate(15rem, 15rem);
  }
  100% {
    transform: translate(20rem, 20rem);
  }
}
.services {
  position: relative;
  &__blocks {
    position: absolute;
    top: 48rem;
    left: -30rem;
    width: 82.9rem;
    height: 97.8rem;
    z-index: -1;
    &-item {
      position: absolute;
      width: 50rem;
      height: 69.4rem;
      border: 1px solid #c7c7c7;
      &:nth-child(1) {
        // transform: translate(10rem, 10rem);
        animation: blockMove1 7s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      }
      &:nth-child(2) {
        // transform: translate(20rem, 20rem);
        animation: blockMove2 7s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      }
      &:nth-child(3) {
        // transform: translate(30rem, 30rem);
        animation: blockMove3 7s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    &-row {
      display: flex;
      justify-content: space-between;
      &--bottom {
        display: flex;
        gap: 3rem;
      }
    }

    &-btn {
      margin-bottom: 7rem;
    }
    &-column {
      width: 100%;
      &--description {
        width: 38.3rem;
      }
    }
    &-item {
      width: 38.3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &--column {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
    &-img {
      width: 38.3rem;
      height: 52.8rem;
      &--border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-10deg);
        transition: transform 0.3s ease-in-out;
        z-index: 3;
        img {
          height: 100%;
        }
      }
      img {
        object-fit: cover;
        height: 100%;
      }
      &--column {
        position: relative;
        width: 79.5rem;
        height: 43.9rem;
        transition: transform 0.3s ease-in-out;
        &--back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          img {
            object-fit: cover;
            height: 100%;
          }
        }
        &--inner {
          width: 79.5rem;
          height: 43.9rem;
          clip-path: polygon(19% 0%, 100% 0, 100% 70%, 81% 100%, 0 100%, 0 30%);
          overflow: hidden;
          z-index: 1;
          img {
            object-fit: cover;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
          }
        }
        &:hover {
          .services__list-img--column--inner img {
            transform: scale(1.2);
          }
          .services__list-img--border {
            transform: rotate(0deg);
          }
        }
        img {
        }
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  &__content {
    &-bottom {
      padding-top: 16.6rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
@media (max-width: 48em) {
  .banner {
    &_container {
      flex-direction: column;
    }
    &__title {
      display: none;
    }

    &__scroll {
      display: none;
    }
    &__slider {
      width: 100%;
      height: 80rem;
      padding: 7rem 11rem;
      &-item {
        width: 46rem;
        height: 67rem;
      }
    }
    &__main {
      margin-top: 4rem;
      &-btn {
        top: 32.1rem;
        left: 50rem;
      }
      &-text {
        &--title {
          top: 62.2%;
          left: 3.2rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          font-size: 11.6rem;
          z-index: 12;
          line-height: 1;
          width: calc(100% - 7.2rem);
          -webkit-text-stroke: 1px #242424;
          b {
            align-self: flex-start;
            color: #242424;
            font-weight: 800;
            text-transform: uppercase;
          }
        }
        &--subtitle {
          top: auto;
          right: 4rem;
          bottom: 27rem;
          color: #242424;
          font-size: 2.8rem;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
      &-img {
        width: 100%;
        height: 100%;
      }
      &-photo {
        width: 100%;
        height: 100%;
        &:hover {
          .banner__main-img img {
            transform: scale(1);
          }
          .banner__main-img--back {
            transform: rotate(20.921deg);
            img {
              transform: scale(1);
            }
          }
        }
      }
    }
    &__thumbs {
      position: relative;
      flex: 1;
      &-img {
        display: none;
        width: 24rem;
        height: 24rem;
        &.next_1 {
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          width: 24rem;
          height: 24rem;
        }
        &.next_2 {
          display: none;
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          width: 24rem;
          height: 24rem;
        }
        &.last {
          display: none;
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          width: 24rem;
          height: 24rem;
        }
      }
    }
    &__aside {
      margin: 0;
      margin-top: 16rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
    }
    &__links {
      margin-top: 0;
      width: 39rem;
      row-gap: 0rem;
      &-item {
        padding: 1.6rem 0;
        color: #242424;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
  .about {
    &__blocks {
      top: 7rem;
      left: auto;
      right: 45rem;
      z-index: -1;
      &-item {
        width: 71rem;
        height: 71rem;
        border-color: #c7c7c7;
      }
    }
    &__content {
      flex-direction: column;
      gap: 5.6rem;
    }
    &__card {
      width: 33.2rem;
      &-img {
        height: 48.6rem;
      }
      &-text {
        &--title {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
        &--subtitle {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    &__list {
      &-mark {
        top: 36.4rem;
        left: -8rem;
        width: 20rem;
        height: 20rem;
        left: auto;
        right: 1rem;
        &--text {
          font-size: 2.8rem;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
    &__info {
      width: 100%;
      gap: 7.2rem;
      &-text {
        gap: 3.2rem;
        &--description {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
  .advantages {
    &_container {
      flex-direction: column;
    }
    &__list {
      display: none;
      &-mob {
        display: flex;
        flex-direction: column;
        gap: 5rem;
      }
      &-info {
        display: flex;
        justify-content: space-between;
      }
      &-row {
        width: 33rem;
        display: flex;
        flex-direction: column;
        .advantages__main {
          margin-right: 0;
        }
      }
    }
    &__main {
      width: 33rem;
      &-name {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      &-description {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: normal;
        text-transform: none;
      }
      &-icon {
        width: 8rem;
        height: 8rem;
      }
    }
    &__info {
      &-mob {
        margin-top: 5.8rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    }
    &__short {
      width: auto;
      gap: 2.4rem;
      flex: 1;
      &-number {
        font-size: 5.6rem;
        font-weight: 400;
        line-height: normal;
      }
      &-text {
        font-size: 3.2rem;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .news {
    &_container {
      padding-bottom: 17rem;
    }
    &__blocks {
      height: 110.8rem;
      width: 75.3rem;
      right: -16rem;
      top: auto;
      bottom: -84rem;
      &-item {
        height: 95rem;
        border-color: #c7c7c7;
      }
    }
    &__text {
      flex-direction: column;

      &-title {
        width: 100%;
      }
    }
    &__list {
      &-btn {
        display: none;
        &--mob {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 2;
        }
      }
      &-item {
        width: 44.8rem;
        .news__list-img {
          &:nth-child(1) {
            height: auto;
          }
          &:nth-child(2) {
            height: auto;
          }
          &:nth-child(3) {
            height: auto;
          }
        }
      }
      &-text {
        &--date {
          color: #e7284a;
          font-family: 'Akrobat';
          font-size: 3.6rem;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
      &-img {
        width: 100%;
      }
    }
  }
  @keyframes blockMoveMob1 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(10rem, -10rem);
    }
    50% {
      transform: translate(0rem, 0rem);
    }
    75% {
      transform: translate(10rem, -10rem);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes blockMoveMob2 {
    0% {
      transform: translate(10rem, -10rem);
    }
    25% {
      transform: translate(6rem, -6rem);
    }
    50% {
      transform: translate(20rem, -20rem);
    }
    75% {
      transform: translate(17rem, -25rem);
    }
    100% {
      transform: translate(10rem, -10rem);
    }
  }
  @keyframes blockMoveMob3 {
    0% {
      transform: translate(20rem, -20rem);
    }
    25% {
      transform: translate(15rem, -13rem);
    }
    50% {
      transform: translate(10rem, -10rem);
    }
    75% {
      transform: translate(15rem, -15rem);
    }
    100% {
      transform: translate(20rem, -20rem);
    }
  }
  .services {
    &_container {
      padding-bottom: 17rem;
    }
    &__blocks {
      top: auto;
      bottom: -45rem;
      right: -51rem;
      left: auto;
      &-item {
        &:nth-child(1) {
          transform: translate(30rem, -30rem);
          //   animation: none;
          animation: blockMoveMob1 7s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }
        &:nth-child(2) {
          //   animation: none;
          transform: translate(15rem, -11rem);
          animation: blockMoveMob2 7s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }
        &:nth-child(3) {
          //   animation: none;
          transform: translate(0rem, 0rem);
          animation: blockMoveMob3 7s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }
      }
    }
    &__content {
      &-bottom {
        padding-top: 5.6rem;
        flex-direction: column;
        .services__list-text--description {
        }
      }
    }
    &__list {
      gap: 11.6rem;
      &-row {
        flex-direction: column;
        gap: 5.6rem;
        &--bottom {
          width: 100%;
          flex-direction: column;
          gap: 5.6rem;
        }
      }
      &-item {
        width: 100%;
        gap: 1.6rem;
        &--last {
          .services__list-text--description {
            width: 41rem;
          }
        }
        &--column {
          gap: 7.4rem;
          flex-direction: column-reverse;
        }
      }
      &-column {
        &--description {
          width: 100%;
        }
      }
      &-img {
        width: 100%;
        &--column {
          width: 100%;
          height: 38.2rem;
          &--inner {
            width: 100%;
            height: 100%;
            img {
              height: 100%;
              object-fit: none;
            }
          }
        }
      }
      &-btn {
        position: absolute;
        bottom: -12rem;
        margin: 0;
      }
      &-text {
        gap: 0.4rem;
        &--description {
          width: 55.2rem;
        }
      }
    }
  }
}
